@font-face {
  font-family: inter-medium;
  src: url("../fonts/Inter-Medium.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: inter;
  src: url("../fonts/Inter-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: pp-eiko;
  src: url("../fonts/PPEiko-Thin.otf");
  font-weight: 100;
  font-style: normal;
}
