/* HOME PAGE */
.item {
  padding: 0;
  align-items: center;
  color: #232323;
  font-weight: 100;
}

.item_row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 2.5rem;
  margin-left: 4rem;
  margin-right: 4rem;
}

.item_main_heading {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 2.5rem;
  margin: 114px 4rem 42px 4rem;
  /* top margin might cause an issue. Noting this so you can check if this is the issue! */
  /* top right bottom left */
  border-bottom: 1px solid black;
}

.item_main_heading_information {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 2.5rem;
  margin: 114px 4rem 1.5rem 4rem;
  /* top margin might cause an issue. Noting this so you can check if this is the issue! */
  /* top right bottom left */
  border-bottom: 1px solid black;
}

.item_main_heading_text {
  grid-column: 1 / span 3;
  margin-bottom: 1rem;
}

.main_heading {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 2.5rem;
  margin: 4rem 4rem;
}

.main_heading_text {
  grid-column: 1 / span 2;
  margin-bottom: 5rem;
  align-self: center;
}

.main_heading_image {
  grid-column: 3 / span 1;
  margin-bottom: 2rem;
  width: 100%;
}

.footer-block {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 2.5rem;
  margin-top: 7.125rem;
  margin-bottom: 2.65rem;;
  width: 100vw;
}

.footer-block-item {
  grid-column: 1 / span 3;
  border-top: 1px solid #232323;
  border-bottom: 1px solid #232323;
  padding: 0.75rem 4rem;
  color: #232323;
  font-size: 1.2rem;
  align-items: center;
}

/* ABOUT PAGE */

.about_heading {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 2.5rem;
  margin: 114px 4rem 42px 4rem;
}

.about_heading_text {
  grid-column: 1 / span 2;
  width: 86%;
}

.about_metadata_heading_text {
  grid-column: 3;
}

/* Random Project Pages */
.project_header_image {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 2.5rem;
  margin: 0;
  object-fit: fill;
}

.project_header_content {
  display: grid;
    grid-template-columns: repeat(6,1fr);
  list-style-type: none;
  grid-gap: 2rem;
  margin: 3rem 22rem;
}

.project_header_item {
  grid-column: 1 / span 4;
  /* padding-left: 14rem; */
  width: 90%;
}

.project_header_item_metadata{
  grid-column: 5 / span 2;
}

.project_content_row {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-gap: 2.5rem;
  margin: 114px 4rem 1.5rem 4rem;
  /* top margin might cause an issue. Noting this so you can check if this is the issue! */
  /* top right bottom left */
}

.project_content_row_item {
  grid-column: 2 / span 1;
  margin-bottom: 2rem;
  align-items: center;
}

/* Real Work Pages */
.post {
  display: grid;
  max-width: 1000px;
  margin: 4rem auto;
  grid-gap: 0 2.5rem;
  grid-template-columns: 3fr 12fr 3fr;
}

.post>* {
  grid-column: 2 / -2;
}

.post>figure {
  margin: 0;
  grid-column: 1 / -1;
}

.post>blockquote {
  font-family: founders;
  grid-column: 2 / -2;
  color: #0153D1;
  font-size: 1.5rem;
  text-align: center;
  margin: 0;
}

figcaption {
  width: 100%;
  color: #919191;
  font-family: founders;
}

/* RESPONSIVE */
@media (max-width: 1200px) {
  .project_header_content {
  display: grid;
  grid-template-columns: repeat(6,1fr);
  list-style-type: none;
  grid-gap: 2rem;
  margin: 3rem 4rem;
  }
}

@media (max-width: 900px) {
  .main_heading_image {
  visibility: hidden;
  }
}

@media (max-width: 746px) {
  .about_text {
  font-size: .75rem;
  }

  .about_text_box {
  margin-bottom: 0.875rem;
  }

  h2 {
  font-size: 2rem;
  }

  .project_header_content {
  display: grid;
  grid-template-columns: repeat(6,1fr);
  list-style-type: none;
  grid-gap: 1rem;
  margin: 3rem 1.5rem;
  }

  .about {
  font-size: 1.5rem;
  line-height: 38px;
  }

  .item_main_heading_text{
  margin-bottom: 1rem;
  }
}

/* RESPONSIVE */
